@{
    ViewData["Title"] = "Form Home";
}

<div class="text-center">
    <h1 class="display-4"> Register Below</h1>
    <partial name="SignUp"/>
    <h1 class="display-4"> Log On</h1>
    <partial name="LogOn"/>
</div>
