@{
    ViewData["Title"] = "New one";
}
@model Reg

<H1>Your Answers</H1>

<table class="table-striped table">
    <thead>
        <tr>
            <th>Name</th>
            <th>lname</th>
            <th>email</th>
            <th>password</th>
        </tr>
    </thead>
    <tbody>
            <tr>
            
            </tr>
    </tbody>
</table>